html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#editor-container {
  display: flex;
  margin-top: 5.0rem;
}

@media screen and (min-width: 1440px) {
  #editor-container {
  display: flex;
  margin-top: 10.0rem 0;
}
}

#markdown-editor {
  width: 50%;
  height: 75vh;
  padding: 1.0rem;
  font-size: 16px;
  border: 2px solid #c3b7cc;
  outline: none;
  border-radius: 0.8rem;
  background-color: #e1dbe6;
  font-family: 'Noto Sans JP', sans-serif;
}

#markdown-preview {
  width: 50%;
  height: 75vh;
  padding: 1.0rem;
  overflow-y: auto;
  border-radius: 0.8rem;
  background-color: #FFF;
  box-shadow: 0.8rem 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
}

#editor-header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.2);
  z-index: 10;
}

#save-draft,
#publish {
  padding: 0.4rem 1.2rem;
  margin-left: 0.8rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

#save-draft {
  background-color: #FFF;
  color: #bb65bf;
  border: 2px solid #bb65bf;
}

#publish {
  background-color: #a432aa;
  color: #fff;
  margin-right: 3.2rem;
}

#save-draft:hover,
#publish:hover {
  opacity: 0.8;
}

