html {
  height: 100%;
  font-size: 62.5%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}

#save-draft,
#publish,
#login,
#signup {
  padding: 0.4rem 1.2rem;
  margin-left: 0.8rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

#save-draft:hover,
#publish:hover,
#login:hover #siginup {
  opacity: 0.8;
}
