@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 6px;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 120rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}
.readmore {
  font-size: 0.875rem;
  text-align: center;
}
/*
疑似要素で下線を設定するために、「position: relative;」を設定
*/
.readmore a {
  padding-bottom: 1rem;
  color: #333;
  position: relative;
}
/*
「position: absolute;」を設定し、left、bottomで下線の位置を調整
widthとheightで線の長さと高さを設定
疑似要素で線を表示させるためには、「content: '';」を設定すること
「transition: all 200ms ease;」でホバー時の速度などを設定
*/
.readmore a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}
/*
ホバー時の下線の設定
「opacity: 0;」下線を非表示
「transform: translateY(3px);」下に3px移動
→下に3px移動しながら下線を非表示にする
*/
.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
#header .site-title {
  padding: 2rem 1.6rem;
  line-height: 1rem;
}
/*
「display: inline-block;」でリンクを親要素の範囲に広げる
※blockを指定すると横幅いっぱいまで広がってしまうため、
inline-blockを設定している
*/
#header .site-title a {
  display: inline-block;
}
#navi {
  background-color: #333;
}
#navi a {
  color: #fff;
}
#navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#navi li {
  font-size: 0.875rem;
  padding: 1rem 6rem 1rem 0;
}

#blog {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
  margin-bottom: 6rem;
}
#blog article {
  width: 32%;
}
#blog .article-title {
  font-size: 1.6rem;
  margin: 1rem 0 1.5rem 0;
}

#container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
main {
  width: 65%;
}
main article {
  margin-bottom: 8rem;
}
main .article-title {
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem 0;
}
main ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
main li {
  font-size: 0.875rem;
  margin-right: 2rem;
}
main .text {
  padding: 1rem 4rem 3rem 4rem;
}

.author {
  text-align: center;
  margin-bottom: 6rem;
}
.author img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.author .profile {
  font-size: 0.875rem;
  text-align: left;
}

#login {
  background-color: #a432aa;
  color: #fff;
  border: 2px solid #a432aa;
  margin-right: 3.2rem;
}

#signup {
  background-color: #fff;
  color: #bb65bf;
  border: 2px solid #bb65bf;
}

@media screen and (max-width: 767px) {
  #header .site-title {
    padding: 2rem 1.6rem;
  }

  #blog {
    flex-direction: column;
    padding-top: 14rem;
  }
  #blog article {
    width: 100%;
    margin-bottom: 3rem;
  }

  #container {
    flex-direction: column;
  }
  main {
    width: 100%;
  }
}
